/* * {
    outline: dashed red;
} */
body {
    background-color: black;
    font-family: Cormorant Garamond;
    color: white;
    margin: auto;
}

h1 {
    font-size: 3rem;
    color: black;
    text-shadow: 1px 1px 1px #F6F3E3,
        2px 2px 1px #F6F3E3,
        3px 3px 1px #F6F3E3,
        0px 0px 1px #F6F3E3,
        3px 3px 20px #F7F5C9;
}
h2 {
    font-size:  2rem;
}

header > img {
    max-width: 85vw;
    padding: 20px;
    filter: drop-shadow(1px 1px 1px white)
        drop-shadow(1px 2px 2px white)
        drop-shadow(1px 3px 9px white);
    display: block;
    margin: auto;
}

nav {
    background: linear-gradient(60deg, white 0%, #F6F3E3, #F7F5C9);
}
nav ul {
    text-align: center;
    list-style: none;
}
nav li {
    display: inline-block;
    align-content: center;
}
nav a {
    display: inline-block;
    padding: 5px;
    margin: 5px 25px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black,
        1px 1px 5px black;
    font-size: 20pt;
    font-weight: bold;
}
nav a:hover {
    color: transparent;
    text-shadow: 1px 1px 3px white,
        0 0 #000;
}

section {
    display: flex;
    flex-flow: row wrap;
}
article {
    flex: 1;
    margin: auto 10px;
}
.offer {
    text-align: right;
    background-image: url(../assets/special-offer.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

footer {
    display: flex;
}
footer div {
    flex: 1;
    padding: 5px;
    margin: auto;
    text-align: center;
    /* font-size: 25%; */
}
footer img {
    width: 15vw
}