body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size:  2rem;
}

header > img {
    filter: drop-shadow(1px 1px 2px white)
        drop-shadow(-1px -1px 7px white);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
}

section {
    display: flex;
    flex-flow: row wrap;
}
article {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    display: flex;
}
footer div {
    flex: 1;
}
